<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>NYC Film Calendar</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
  {{#each daysWithTheaterShowings}}
    <div>
      <h2>{{day}}</h2>
      {{#each theatersWithShowings}}
        <h3><a href="{{theater.url}}">{{theater.name}}</a></h3>
        <ul>
          {{#each showings}}
            <li>
              <a href="{{url}}">
                <span class="showing-time">{{time datetime}}</span>
                <span class="showing-title">{{movie.title}}</span>
              </a>
              <span>{{movie.duration}} mins</span>
              <span>{{format}}</span>
            </li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  {{/each}}
  </body>
</html>
